:host {
  margin: 20px 0;
  display: block;
  label {
    display: block;
    margin: 10px 0;
  }
  input {
    width: 400px;
  }
  p-button {
    float: right;
    margin: 20px 0;
  }
  span{
    display: block;
    margin: 5px 0;
    color: red;
  }
  .secret {
    width: 10px;
    height: 10px;
    border: solid 1px whitesmoke;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
